{% extends 'blog_app/blog_base_basic.html' %}
{% load static %}

{% block query-form %}
    <form role="search" method="get" id="searchform" action="#">
        <input type="search" placeholder="Search" required>
        <button type="submit"><span class="ion-ios-search-strong"></span></button>
    </form>
{% endblock query-form %}

{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">About Me</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <figure class="img-responsive-center">
                                <img class="img-responsive" width="30%" height="30%" src="{% static 'blog_app/img/YanboZhu.jpg' %}" alt="Developer Image">
                            </figure>
                            <p>Welcome to my personal introduction page. I am currently Cloud Devops and Test automation Engineer in IVU Traffic Technologies</p>
                            <p> I would like to dive deeper into Cloud underlying infrastructure development, private and hybrid Cloud and Scalable distributed computing</p>
                            <p>Here are a few things about me:</p>
                            <ul>
                                <li><strong>Education</strong> </li>
                                <ul>
                                    <li>Bachelor, China, Elektrotechnik</li>
                                    <li>Master, TU Berlin, Elektrotechnik</li>
                                    <li>Bachelor, Berlin Universitaet fuer Technik, Medieninformation</li>
                                </ul>
                                <li><strong>Skill</strong> </li>
                                <ul>
                                    <li><strong>Cloud:</strong> AWS (S3, EKS, EC2, Route53)</li>
                                    <li><strong>Automating deployment: </strong>Terraform</li>
                                    <li><strong>Containerization and Orchestration: </strong>Docker, Kubernetes, Helm</li>
                                    <li><strong>Devops: </strong> Puppet </li>
                                    <li><strong>CI/CD: </strong>Jenkins, Rundeck, ArgoCD</li>
                                    <li><strong>Test Automation :</strong>Ranorex, Fitnesse</li>
                                    <li><strong>Loging and Data Analysis: </strong>ELK</li>
                                    <li><strong>Monitoring: </strong>Prometheus, Grafana</li>
                                </ul>

                            </ul>
                            <p>If you would like to connect or have any questions, feel free to reach out to me through <a href="{% url 'blog_app:contact' %}">contact form</a></p>

                            <div class="height-40px"></div>
                            <h2 class="title text-center">Social</h2>
                            <ul class="social">
                                <li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
                                <li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
                                <li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
                                <li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
                            </ul>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock content %}
