{% extends 'blog_app/blog_base_basic.html' %}
{% load static %}


{% block query-form %}
    <form role="search" method="get" id="searchform" action="#">
        <input type="search" placeholder="Search" required>
        <button type="submit"><span class="ion-ios-search-strong"></span></button>
    </form>
{% endblock query-form %}


{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">Contact</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <form action="#" method="post" class="contact-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="text" name="name" placeholder="Name" required>
                                        <input type="email" name="email" placeholder="Email" required>
                                        <input type="text" name="subject" placeholder="Subject" required>
                                        <textarea name="message" rows="7" placeholder="Your Message" required></textarea>
                                        <button class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>Send</span>
                                        </button>
                                    </div>
                                </div>   
                            </form>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock content %}
