<!-- This html file defines the area of blogs  in Home page -->

{% extends 'blog_app/blog_base.html' %}
{% load blog_tags %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a
                            href="{% url 'blog_app:category' post.category.pk %}">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href=""><time class="entry-date"
                                                             datetime="2012-11-09T23:15:57+00:00">{{ post.create_time }}</time></a></span>
                    <span class="post-author"><a href="">{{ post.author }}</a></span>
                    <span class="views-count"><a href="">{{ post.views }} views</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}...</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">read further<span class="meta-nav">→</span></a>
                </div>
            </div>
            <hr>
        </article>
    {% empty %}
        <div class="no-post"> no post！</div>
    {% endfor %}

    {# Paging according to Paginator #}

    {% if is_paginated %}
        <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">Page {{ page_obj.number }}  / {{ paginator.num_pages }} </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock main %}



