{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yanbo Zhu Blog</title>

    <link rel="stylesheet" type="text/css" href= "{% static 'blog_auth/bootstrap5/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href= "{% static 'blog_auth/css/base.css' %}" >
    <link rel="stylesheet" type="text/css" href= "{% static 'blog_auth/css/auth.css' %}" >

    <script src="{% static 'blog_auth/bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'blog_auth/bootstrap5/bootstrap.min.js' %}"></script>

</head>
<body>
<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'blog_app:home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="{% url 'blog_app:new_post' %}" class="nav-link px-2 text-secondary">NewPost</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='{% url 'blog_auth:login' %}'">Login</button>
                <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='{% url 'blog_auth:register' %}'">Register</button>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

</body>
</html>